imperativeFictionEngine/src/main/resources/xsd/gameDef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"

           jaxb:version="2.1"
        >


    <!--
     <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
           jaxb:version="2.1"
           jaxb:extensionBindingPrefixes="inheritance">

    -->

    <!--
    Inheritance in xml
    http://www.w3schools.com/schema/el_extension.asp
    -->

    <xs:element name="word">
        <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="file">
        <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="image">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="file" minOccurs="1"
                            maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="music">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="file" minOccurs="0"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="synonyms">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="word" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="object" type="objectType"/>

    <xs:element name="gameObjects">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="object" type="objectType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="gameObjectPlacements">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="objectPlacements" type="objectPlacement"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="gameWeapons">
        <xs:sequence>
            <xs:element name="weapon" type="weaponType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="objectType">
        <xs:sequence>
            <xs:element ref="image" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element ref="supportedActions" minOccurs="0"
                        maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="description" type="xs:string" use="required"/>
        <xs:attribute name="size" type="xs:integer" use="required"/>
        <xs:attribute name="status" type="objectStatus" use="required"/>
    </xs:complexType>


    <xs:simpleType name="objectStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hidden"/>
            <xs:enumeration value="visible"/>
            <xs:enumeration value="broken"/>
            <xs:enumeration value="open"/>
            <xs:enumeration value="closed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="movements">
        <xs:restriction base="xs:string">
            <xs:enumeration value="north"/>
            <xs:enumeration value="south"/>
            <xs:enumeration value="east"/>
            <xs:enumeration value="west"/>
            <xs:enumeration value="northeast"/>
            <xs:enumeration value="northwest"/>
            <xs:enumeration value="southeast"/>
            <xs:enumeration value="southwest"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="inventory">
        <xs:sequence>
            <xs:element name="objectName" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="size" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="placement">
        <xs:attribute name="placement" type="xs:string"
                      use="required"/>
    </xs:complexType>


    <xs:complexType name="objectPlacement">
        <xs:attribute name="objectName" type="xs:string"
                      use="required"/>
        <xs:attribute name="locationName" type="xs:string"
                      use="required"/>
    </xs:complexType>

    <!-- -->
    <xs:complexType name="boundary">
        <xs:complexContent>
            <xs:extension base="objectType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Boundaries -->
    <xs:complexType name="path">

        <xs:complexContent>
            <xs:extension base="boundary">
                <xs:attribute name="toLocation" type="xs:string"
                              use="required"/>
                <xs:attribute name="fromLocation" type="xs:string"
                              use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="door">
        <xs:complexContent>
            <xs:extension base="path">
                <xs:attribute name="doorStatus" type="objectStatus"
                              use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="wall">
        <xs:complexContent>
            <xs:extension base="boundary"></xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="emptyBoundary">
        <xs:complexContent>
            <xs:extension base="boundary"></xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- armours -->
    <xs:complexType name="armourType">
        <xs:complexContent>
            <xs:extension base="objectType">
                <!-- How many damage units it protects per strike -->
                <xs:attribute name="protection" type="xs:integer"
                              use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- weapons -->
    <xs:complexType name="weaponType">
        <xs:complexContent>
            <xs:extension base="objectType">
                <!-- How many damage units it causes per strike -->
                <xs:attribute name="damage" type="xs:integer" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="precondition">
        <xs:sequence>

            <xs:sequence>
                <xs:element name="andCondition" type="xs:string"
                            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="orCondition" type="xs:string"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="personStatus">
        <xs:sequence>
            <xs:element name="precondition" type="precondition"></xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"
                      use="required"/>
    </xs:complexType>


    <xs:complexType name="personStatuses">
        <xs:sequence>
            <xs:element name="personStatus" type="personStatus" minOccurs="0"
                        maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hunger">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="hunger" type="xs:integer" use="required"/>
        <!-- How many food units it consumes per go-->
        <xs:attribute name="moves" type="xs:integer" use="required"/>
    </xs:complexType>


    <xs:complexType name="person">
        <xs:complexContent>
            <xs:extension base="objectType">
                <xs:sequence>
                    <xs:element name="personStatuses" type="xs:string"/>
                    <xs:element name="hunger" type="hunger"/>
                    <xs:element name="armour" type="armourType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="location">
        <xs:sequence>
            <xs:element ref="image" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="north" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="south" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="east" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="west" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="northeast" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="northwest" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="southeast" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="southwest" type="xs:string" minOccurs="1"
                        maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="description" type="xs:string" use="required"/>

    </xs:complexType>

    <xs:element name="goal">
        <xs:complexType>

            <xs:sequence>
                <xs:element ref="image" minOccurs="0"
                            maxOccurs="unbounded"/>
            </xs:sequence>
            <!-- 1 main goal , 2 secondary -->
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="description" type="xs:string" use="required"/>
            <xs:attribute name="level" type="xs:integer" use="required"/>
            <!-- weight of goal, to calculate progress in the game-->
            <xs:attribute name="weight" type="xs:integer" use="required"/>

        </xs:complexType>
    </xs:element>

    <xs:element name="action">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="image" minOccurs="0"
                            maxOccurs="1"/>
                <xs:element ref="synonyms" minOccurs="1"
                            maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="basicAction" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>


    <xs:element name="actionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="locations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location" type="location" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="supportedActions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="action" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="genericActions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="action" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="boundaries">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="boundary" type="boundary" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="doors">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="door" type="door" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="automatedAction">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="precondition" type="precondition"
                            minOccurs="1"
                            maxOccurs="unbounded"/>
                <xs:element ref="action" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="timeBasedAction">
        <xs:sequence>
            <!-- Time is expressed in seconds -->
            <xs:element name="time" type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="moves" type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element ref="action" minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="automaticAction">
        <xs:sequence>
            <xs:element name="accomplishGoal" type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="die" type="xs:boolean"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="execution" type="execution" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>


    <xs:complexType name="execution">
        <xs:sequence>
            <xs:element name="onEnterLocation" type="xs:string" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="onGetObject" type="xs:string" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="onInteractWithCharacter" type="xs:string"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="gameAutomaticActions">
        <xs:sequence>
            <xs:element name="automaticAction" type="automaticAction"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="gameMessages">
        <xs:sequence>
            <xs:element name="message"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                    <xs:attribute name="msg" type="xs:string"></xs:attribute>
                </xs:complexType>
            </xs:element>

        </xs:sequence>

    </xs:complexType>


    <xs:element name="automatedActions">
        <xs:complexType>
            <xs:sequence>

                <xs:element ref="action" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="gameGoals">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="goal" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="artwork">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="image" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="screenshots">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="image" minOccurs="1"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="definition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="genericActions" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element ref="doors" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element ref="locations" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element ref="gameGoals" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element ref="gameObjects" minOccurs="1"
                            maxOccurs="unbounded"/>
                <xs:element name="gameWeapons" type="gameWeapons" minOccurs="1"
                            maxOccurs="unbounded"/>
                <xs:element ref="gameObjectPlacements" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element name="gameAutomaticActions"
                            type="gameAutomaticActions" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element name="gameMessages"
                            type="gameMessages" minOccurs="0"
                            maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="initialization">
        <xs:sequence>
            <!-- character initialization -->
            <xs:element name="life" type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="inventory" type="inventory"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="initialLocationName" type="xs:string"
                        minOccurs="1"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="game">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="definition" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element ref="artwork" minOccurs="0"
                            maxOccurs="1"/>
                <xs:element ref="screenshots" minOccurs="0"
                            maxOccurs="unbounded"/>
                <xs:element ref="music" minOccurs="0"
                            maxOccurs="1"/>
                <xs:element name="description" type="xs:string" minOccurs="0"
                            maxOccurs="1"/>
                <xs:element name="initialization" type="initialization"
                            minOccurs="1"
                            maxOccurs="1"/>
            </xs:sequence>

            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="author" type="xs:string" use="required"/>
            <xs:attribute name="enterprise" type="xs:string" use="required"/>
            <xs:attribute name="licensing" type="xs:string" use="required"/>
            <xs:attribute name="year" type="xs:string" use="required"/>
            <xs:attribute name="language" type="xs:string" use="required"/>

        </xs:complexType>
    </xs:element>


    <xs:complexType name="characterState">
        <xs:sequence>
            <xs:element name="life" type="xs:integer"
                        minOccurs="1"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="character">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="life" type="xs:integer" use="required"/>
    </xs:complexType>


    <xs:complexType name="gainedGoals">
        <xs:sequence>
            <xs:element name="gainedGoal" type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="gameState">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location" type="location"/>
                <xs:element name="inventory" type="inventory"/>
                <xs:element name="characterState" type="characterState"/>
                <xs:element name="gainedGoals" type="gainedGoals" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>




